apiVersion: apps/v1
kind: Deployment
metadata:
  name: globalmedicare-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: globalmedicare-db
  template:
    metadata:
      labels:
        app: globalmedicare-db
    spec:
      containers:
        - name: mysql
          image: mysql:8
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: medicare
            - name: MYSQL_USER
              value: arshabk
            - name: MYSQL_PASSWORD
              value: CK123indb#1

          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          emptyDir: {}
